<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{ name  }}</p>
        <!-- 表单 v-model="变量"-->
        <input type="text" v-model="name" />
        <input type="text" v-model="name" />


    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '炒肝+包子'
            },
            methods: {}
        });
    </script>
</body>

</html>