<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #app {
      width: 600px;
      margin: 10px auto;
    }

    .tb {
      border-collapse: collapse;
      width: 100%;
    }

    .tb th {
      background-color: #0094ff;
      color: white;
    }

    .tb td,
    .tb th {
      padding: 5px;
      border: 1px solid black;
      text-align: center;
    }

    .add {
      padding: 5px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="add">
      品牌名称:
      <!-- 双向绑定name -->
      <input type="text" v-model="name" v-focus>
      <!-- v-model v-bind -->
      <!-- disabled =>  true => 不可编辑  disabled => false => 可编辑 -->
      <input type="button" value="添加" @click="addItem" :disabled="!name">
    </div>

    <div class="add">
      品牌名称:
      <input type="text" placeholder="请输入搜索条件" v-model="searchVal">
    </div>
    <div>
      <table class="tb">
        <tr>
          <th>编号</th>
          <th>品牌名称</th>
          <th>创立时间</th>
          <th>操作</th>
        </tr>
        <tr v-for="(item,index) in list" :key="index">
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.date | transDate('YYYY-MM-DD hh:mm:ss') }}</td>
          <td>
            <!-- e.preventDefault() -->
            <a @click.prevent="delItem(item.id)" href="#">删除</a>
          </td>
        </tr>
        <tr v-if="!list.length">

          <!-- <tr v-if="list.length === 0"> -->
          <td colspan="4">没有品牌数据</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script src="./moment.min.js"></script>
  <script src="./axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        // 定义表格数据
        list: [],
        name: '',
        searchVal: ''
      },
      methods: {
        // 新建一个 方法 
        addItem() {
          // 调用后台新增接口
          axios.post("http://localhost:3000/phone", {
            name: this.name,
            date: new Date()
          }).then(() => {
            this.loadData()
            this.name = ''
          })
        },
        delItem(id) {
          if (confirm("您是否要删除此条记录")) {
            // 执行删除
            axios.delete(`http://localhost:3000/phone/${id}`).then(() => {
              this.loadData()
            })
          }
        },
        // 请求数据
        loadData() {
          axios.get("http://localhost:3000/phone").then((result) => {
            this.list = result.data
          })
        }
      },
      filters: {
        // 定义转化时间的过滤器
        transDate(value, param) {
          return moment(value).format(param)
        }
      },
      directives: {
        focus: {
          inserted(dom) {
            dom.focus()
          }
        }
      },
      computed: {
        filterList: function () {
          // this指向vm实例
          return this.list.filter((item) => {
            return item.name.indexOf(this.searchVal) > -1
          })
        }
      },
      mounted: function () {
        // this 也是指向vm实例的
        this.loadData()
      },
      watch: {
        // 监视data变化 
        searchVal: function (newValue) {
          // 2. 实现搜索的逻辑
          // this指向vm实例
          axios.get(`http://localhost:3000/phone?name_like=${newValue}`).then(result => {
            this.list = result.data
          })
        }
      }
    });
  </script>
  <!-- 

      添加商品
      1. 新建一个变量 双向绑定给input标签
      2. 注册按钮点击事件
      3. 在方法中 获取name的值 => 加入到list数组中
      4. 添加完成后 应该清空 input的值 => this.name = ''
      5. disabled =>  true => 不可编辑  disabled => false => 可编辑 

    -->
  <!-- 
        删除商品
        1. 注册点击删除的事件
        2. 通过方法传递参数
        3. 友好的提示一下 
        4. 数组中删除元素
     -->
  <!-- 
         通过计算属性实现 搜索功能 
         1. 通过双向绑定获取 搜索框的值
         2. 定义计算属性 filterList
         3. 实现计算属性搜索 
         4. 替换list为filterlist
      -->
</body>

</html>,