<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- v-if 后直接跟表达式 => true 显示 false 隐藏 -->
        <!-- <p v-if="money > 12000">字节跳动</p> -->
        <template v-if="money > 12000">
            <p>字节跳动</p>
            <p>华为</p>
            <p>腾讯</p>
            <p>阿里巴巴</p>
        </template>


    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                money: 12000
            },
            methods: {}
        });
    </script>
</body>

</html>