<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-if="item.price > 5000" v-for="item in list">
                <span>品牌:{{item.name}}</span>
                <span>价格:{{item.price}}</span>

            </li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{ name: "苹果", price: 10000 }, { name: '华为', price: 7000 }, { name: "小米", price: 3000 }]
            },
            methods: {}
        });
    </script>
</body>

</html>